body.atMarker .at-element-marker,
body.atMarker [data-adobe-target-testid] {
    outline: 3px #26ceef dashed !important;
    -webkit-box-shadow: 3px 3px 13px 0 #8F8F8F !important;
    box-shadow: 3px 3px 13px 0 #8F8F8F !important;
    position: relative;
}

body.atMarker [data-adobe-target-testid]:hover::before {
    content: attr(data-adobe-target-testid);
    font-size: 12px !important;
    min-height: 20px !important;
    min-width: 60px !important;
    text-align: center !important;
    vertical-align: top;
    position: absolute !important;
    left: 5px;
    z-index: 100;
    padding: 10px !important;
    margin: 2px;
    background-color: #CBF0FF !important;
    color: #000 !important;
    opacity: 0.7 !important;
    border: 1px solid #1ad8ff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 8px 1px #808080;
    box-shadow: 0 3px 8px 1px #808080;
}